IndexOptions +Charset=UTF-8
AddDefaultCharset UTF-8
AddCharset UTF-8 .utf8

DirectoryIndex controladores/controlador.php

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . http://localhost/public_html/controladores/controlador.php [L]
