#body{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
}
.pointer {
  cursor: pointer;
}
/*TABLERO*/
#banner_tablon {
  position: absolute;
  top:-32px;
  right: 0px;
  font-size: 26px;
  color: white;
}
div#content_tablon {
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1;
    min-width: 1200px; /* Este tamaño es igual al del tablón*/
    position: relative;

    width: 100%;
    background: url("../img/fondo_inicio_14.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#board {
    position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 550px;
}
#marco_tablon {
  perspective: 1000px;
  position: relative;
  background-image: url("../img/tablon.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 1200px; 
  height: 550px;
}
#container_tablon {
    position: absolute;
    width: 100%; 
    height: 100%;
    transform-style: preserve-3d;
}

.eliminar_elemento {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: -30px;
  top: -3px;
  background-image: url("../img/eliminar_nota.png");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 0 0 0;
  border: 2px solid white;
  cursor: pointer;
}

.mostrar_contenido {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  right: -30px;
  top: 24px;
  background-image: url("../img/mostrar_contenido_6.png");
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 0 0 0;
  border: 2px solid white;
  cursor: pointer;
}

/*ELEMENTOS DEL TABLERO*/

.container_nota {
  position: absolute;
  display: block;
  width: 170px;
  height: 80px;
  background-color: #676C89;
  margin: 0 0 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border: solid white;
  transform:  translateZ(0px) rotateY(0.2deg);
}

.container_nota_expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  margin: 0 0 0 0;
  border: solid white;
  color: white;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%) translateZ(0px);
  background: url("../img/fondo_nota_expanded.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 9999;
}
.nota_titulo_expanded {
  padding: 0px 20px 0px 20px;
  text-align: center;
  height: 40px;
  border-bottom: 3px solid white;
}
.nota_titulo_expanded h5{
  font-size: 18px;
  margin: 0px;
  font-weight: 400;
  padding: 8px 0px 8px 0px;
}
.nota_descripcion_expanded {
  padding: 10px 20px 10px 20px;
  text-align: justify;
}

.container_video {
  position: absolute;
  width: 300px;
  height: 200px;
     background: url("../img/fondo_inicio_14.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  margin: 0 0 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border: solid white;
  transform: translateZ(0px) rotateY(0deg);
}
.container_imagen {
  position: absolute;
  width: 300px;
  height: 200px;
     background: url("../img/fondo_inicio_14.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  margin: 0 0 0 0;
  box-shadow: 0 0 15px rgba(0, 0, 0, 1);
  border: 3px solid white;
  transform:  translateZ(0px) rotateY(0deg);
}
/*Videos e imagenes*/
.elemento_tablon_imagen {
  width: 300px;
  height: 156px;
  pointer-events: none;
}
.elemento_tablon_titulo {
  padding: 5px 0px 4px 0px;
  color: white;
  width: 300px;
  height: 32px;
  text-align: center;
  border-bottom: 3px solid white;
}
.elemento_tablon_titulo h5 {
  margin: 0px 0px 0px 0px;
    font-weight: 400;
  font-size: 14px;
}
.elemento_tablon_descripcion {
  margin: 10px 20px 10px 20px;
  color: #32323e;
  font-size: 16px;
  width: 360px;
  height: 50px;
}
.elemento_tablon_descripcion p{
  margin: 0px;
}
/*Notas*/
.elemento_tablon_nota{
  margin: 10px;
  color: white;
  font-size: 16px;
  width: 150px;
  height: 60px;
  text-align: center;
}
.elemento_tablon_nota h5{
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
}
/*Añadir elementos al tablon*/
#anadir_elemento {
    background-color: white;
    border: 2px solid #ddd;
    position: absolute;
    width: 400px;
    top:0px;
    right: 0px;
    z-index: 3000;
}

.fondo_oscurecido {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

#anadir_elemento_seleccion {
    height: 100px;
    cursor: pointer;
    background-color: #FFED79;
}
.elemento_seleccion {
    width: 133px;
    height: 100px;
    float: left;
    text-align: center;
}



/*Compartir el tablon*/
#compartir_tablon {
    background-color: white;
    border: 2px solid #ddd;
    position: absolute;
    width: 400px;
    top:0px;
    right: 0px;
    z-index: 3000;
}
#compartir_tablon_header {
    background-color: #D6E8FF;
}
/*Perfil de usuario*/
#username{
    background-color: white;
    border: 2px solid #ddd;
    position: absolute;
    width: 400px;
    top:0px;
    right: 0px;
    z-index: 3000;
}
#username_header {
    background-color: #D6E8FF;
}

/*Papelera*/
#papelera{
    background-color: white;
    border: 2px solid #ddd;
    position: absolute;
    width: 400px;
    top:0px;
    right: 0px;
    z-index: 3000;
}
#papelera_header {
  background-color: #C7A973;
}
#formulario_papelera div {
  border: 0;
}
#formulario_papelera ul {
  padding: 0px 0px 0px 0px;
}
#formulario_papelera li {
  border-top: 2px solid #ddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
#formulario_papelera li:last-child {
  padding-top: 10px;
}
#formulario_papelera li label p{
  display: inline;
  font-weight:normal;
}
.footer_papelera {
  text-align: center;
}
/*CONFIGURACION PERMISOS*/
#permisos{
    background-color: white;
    border: 2px solid #ddd;
    position: absolute;
    width: 400px;
    top:0px;
    right: 0px;
    z-index: 3000;
}
#permisos_header {
  background-color: #FCF5AC;
}
#formulario_permisos div {
  border: 0;
}
#formulario_permisos ul {
  padding: 0px 0px 0px 0px;
}
#formulario_permisos li {
  border-top: 2px solid #ddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}
#formulario_permisos li:last-child {
  padding-top: 10px;
}
#formulario_permisos li label p{
  display: inline;
  font-weight:normal;
}
#formulario_permisos li p{
  margin-top: 8px;
  margin-bottom: 8px;
}
.footer_permisos {
  text-align: center;
}

/*PERMITE CREAR UNA LISTA HORIZONTAL*/
.lista_horizontal_tablon{
    color: grey;
    float: right;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.lista_horizontal_tablon li{
    list-style-type: none;
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}
.lista_horizontal_tablon li a{
    text-decoration: none;
    /*font-weight:700;*/
    font-size: 16px;
}
.lista_horizontal_tablon li a:hover {
    opacity: 0.5;
}
#administrar {
    display: none;
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
