/*CONTENIDO*/
div#content {
  min-width: 1000px;
  padding:20px; /* bottom padding for footer */
  background: url("../img/fondo_body.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}