#body{
    background-color: white;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family:'Lato',sans-serif;
}
/*TABLERO*/
div#content_tablon {
    padding-top: 50px;
    padding-bottom: 50px;
    z-index: 1;
    min-width: 1000px;
    position: relative;

    width: 100%;
    background: url("../img/fondo_inicio_14.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#papelera{
    background-color: white;
    border: 2px solid #ddd;
    position: absolute;
    width: 400px;
    min-height: 291px; /*Tamaño del formulario mas pequeño*/
    top:0px;
    right: 0px;
    z-index: 3000;
}
#board {
    position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  height: 550px;
}
#marco_tablon {
    position: relative;
    background-image: url("../img/tablon.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 1200px; 
    height: 550px;
}
#container_tablon {
    position: relative;
    width: 1200px; 
    height: 550px;
}

/*ELEMENTOS DEL TABLERO*/
.elemento_tablon_2 {
  position: absolute;
  width: 400px;
  height: 330px;
  left: 500px;
  top: 0px;

  background-color: #C7A782;
  border: 10px solid #fff;
  margin: 0 0 30px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
.elemento_tablon {
  position: absolute;
  width: 400px;
  height: 330px;
  left: 0;
  top:0;

  background-color: #C7A782;
  border: 10px solid #fff;
  margin: 0 0 30px 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 1);
}
/*Videos e imagenes*/
.elemento_tablon_imagen {
  width: 400px;
  height: 225px;
}
.elemento_tablon_titulo {
  margin: 10px 20px 10px 20px;
  color: #32323e;
  width: 360px;
  height: 22px;
}
.elemento_tablon_titulo h3 {
  margin: 0px;
}
.elemento_tablon_descripcion {
  margin: 10px 20px 10px 20px;
  color: #32323e;
  font-size: 16px;
  width: 360px;
  height: 50px;
}
.elemento_tablon_descripcion p{
  margin: 0px;
}
/*Notas*/
.elemento_tablon_nota{
  margin: 10px 20px 10px 20px;
  color: #32323e;
  font-size: 16px;
  width: 360px;
  height: 300px;
  text-align: justify;
}
.elemento_tablon_nota p{
  margin: 0px;
}

/*
.elem{
    position: absolute;
    background-color: green;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;     
    user-select: none;
    border:1px solid black;
    z-index: 0;
}

#squareContainer{
    left: 0px;
}

.square{
    display: inline-block;
    width: 10px;
    height: 10px;
    border:1px solid black;
}
#redSquare{
    background-color: red;
}
#greenSquare{
    background-color: green;
}
#blueSquare{
    background-color: blue;
}
#deleteSquare{
    background-color: yellow;
}
#editSquare{
    background-color: orange;
}*/

/*Añadir elementos al tablon*/
#anadir_elemento {
    background-color: white;
    border: 2px solid #ddd;
    position: absolute;
    width: 400px;
    min-height: 420px; /*Tamaño del formulario mas pequeño*/
    top:0px;
    right: 0px;
    z-index: 3000;
}

.fondo_oscurecido {
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2000;
}

#anadir_elemento_seleccion {
    height: 100px;
    cursor: pointer;
    background-color: #FFFAD9;
}
.elemento_seleccion {
    width: 133px;
    height: 100px;
    float: left;
    text-align: center;
}
/*Compartir el tablon*/
#compartir_tablon {
    background-color: white;
    border: 2px solid #ddd;
    position: absolute;
    width: 400px;
    min-height: 291px; /*Tamaño del formulario mas pequeño*/
    top:0px;
    right: 0px;
    z-index: 3000;
}
#compartir_tablon_header {
    background-color: #D6E8FF;
}

/*AÑADIR*/
#elemento_seleccion_texto:hover, #elemento_seleccion_video:hover, #elemento_seleccion_imagen:hover {
 -webkit-animation: rotate 3s linear infinite;
}
@-webkit-keyframes rotate {
    from { -webkit-transform: rotateY(0deg)}
    to{ -webkit-transform: rotateY(360deg)}
}

/*PERMITE CREAR UNA LISTA HORIZONTAL*/
.lista_horizontal_tablon{
    color: grey;
    float: right;
    margin: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
.lista_horizontal_tablon li{
    list-style-type: none;
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 20px;
    padding-left: 20px;
    cursor: pointer;
}
.lista_horizontal_tablon li a{
    text-decoration: none;
    /*font-weight:700;*/
    font-size: 16px;
}
.lista_horizontal_tablon li a:hover {
    opacity: 0.5;
}
#administrar {
    display: none;
}


/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Rotate */
.hvr-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-rotate:hover, .hvr-rotate:focus, .hvr-rotate:active {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
